<div class="clearfix">
    <ul class="nav nav-pills pull-right">
        <li ng-if="grid.editable && grid.widgets.length > 0">
            <a href="" ng-click="grid.addWidget()">Add new widget</a>
        </li>

        <li ng-class="{active: grid.editable}">
            <a href="" ng-click="toggleEditable(!grid.editable)">Edit</a>
        </li>
    </ul>
</div>

<div gridster="grid.settings">
    <ul>
        
        <li ng-if="grid.widgets.length === 0" gridster-item>
            <a href="" ng-click="grid.addWidget()">
                <br>
                <h3 style="padding-left: 10px">
                    <span class="glyphicon glyphicon-plus"></span>
                    <strong>Add Widget</strong>
                </h3>
            </a>
        </li>
        

        <li gridster-item="widget" ng-repeat="widget in grid.widgets">
            <div class="container-fluid">
                <div class="row">
                    <div ng-class="{editable: grid.editable}" class="col-xs-9 handler">
                        <strong>I'm in index {{ $index }}</strong>
                    </div>

                    <div class="col-xs-3 text-right">
                        <button ng-if="grid.editable" class="btn btn-sm" ng-click="grid.openSettings($index)">
                            <span class="glyphicon glyphicon-cog"></span>
                        </button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>